.message {
    display: flex;
    align-items: flex-start; /* Выровняем элементы по началу сообщения */
    margin: 15px 0;
    padding: 10px;
    background-color: #f9f9f9; /* Фон для каждого сообщения */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
}

.imageAndText {
    display: flex;
    align-items: center; /* Выровняем элементы внутри по центру */
}

.imageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; /* Отступ между аватаром и текстом */
}

.text {
    position: relative;
    max-width: 80%; /* Ограничиваем ширину */
    word-wrap: break-word; /* Переносим длинные слова на новую строку */
    white-space: pre-wrap; /* Обрезаем длинные строки и переносим текст */
    overflow-wrap: anywhere; /* Чтобы текст переносился при любом возможном случае */
    padding: 10px; /* Добавим немного внутреннего отступа */
    background-color: #e0e0e0;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.text:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #f9f9f9 transparent transparent; /* Стрелка для сообщения */
}

.name {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #333;
}

.messageText {
    background-color: #e0e0e0; /* Фон сообщения */
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.time {
    font-size: 0.85rem;
    color: #888;
    margin-left: auto; /* Выровняем время справа */
    padding-left: 10px;
}